body {
  margin: 0;
  padding: 0;
  background-image: url('IMG.jpg') no-repeat;
  background-size: cover;
  font-family: sans-serif;
}



h1, h2, h3, h4, h5, h6 {
  color: Black;
}

.bg-steel {

  background-color: #3C5B2B;

}

.site-header .navbar-nav .nav-link {
  color: Black;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.navbar-toggler.toggler-example {
cursor: pointer;
