{% extends "layout.html" %}
{% block content %}

<div class="name">
<h1>Hello,</h1>
<h1>{{current_user.username }}</h1>
</div>




<style>
          .name {
              text-align: center;
              padding-top: 100px;
              color: black;
          }


</style>

<div class="center">



  <style>
            .center {
                text-align: center;
                padding-top: 100px;

            }


</style>











<form action="{{ url_for('reviews') }}" method = "POST">
<div class = "form-group">


<select class = "form-control" name = "book_isbn">
      {%for book in books%}

      <option value="{{book.isbn}}" >{{book.isbn}} -> {{book.title}} -> {{book.author}} -> {{book.year}}</option>
       {%endfor%}

</select>
</div>

</div>


  <style>
            .center {
                text-align: center;
                padding-top: 100px;
                opacity: .5;
            }


</style>


<div class= "a">
  <button class = "btn btn-primary">Get_Review</button>
  <button class = "btn btn-primary" formaction="{{ url_for('post_review') }}" method = "GET">Post_Review</button>

</div>


<style>
          .a {
              text-align: center;

        
          }


</style>






 {% endblock content %}
