{% extends "layout.html" %}
{% block content %}

<div class="form-group">
  <h1>{{book}}</h1>
  <h1>{{isbn}}</h1>
<form action="{{ url_for('comment') }}" method="post">
<input type= "hidden" id="isbn" name="isbn" value="{{ isbn }}">
  <input type ="textarea" class="form-control" name= "comment" rows="5" placeholder ="Type your comment here..." id="comment">
  <input type="submit" name="submit" value="Post Comment" class="btn btn-info">

</div>
</div>
<style>
          .btn{
              text-align: left;



          }


</style>




<style>
          .form-control{
              text-align: center;
              opacity: .5;



          }


</style>




<style>
          .a{
              text-align: left;
              padding-top: 3px;


          }


</style>






<style>
          .form-group{
              text-align: left;
              padding-top: 200px;


          }


</style>






<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">






{% endblock content %}
