{% extends "layout.html" %}
{% block content %}

<div class="center">
<h1>{{book}}</h1>


<form action="post_review" method="POST">
      <div class="form-group">
                <input class="form-control" name="name1" placeholder="Your Comment">
      </div>

            <div class="form-group">
                      <input class="form-control" name="name2" placeholder="Your rating out of 5">
                  </div>

            <div class="form-group">
                <button class="btn btn-primary">Post Comment</button>
            </div>
            </form>
</div>
<style>
          .center {
              text-align-float: top;
              padding-top: 300px;

          }
      </style>



{% endblock content %}
