{% extends "layout.html" %}
{% block content %}

<div class="name">
      {%for review in reviews%}

<h5>{{review.comment}}</h5>
<h5>{{review.username}}</h5>
<h5>{{review.title}}</h5>
<h5>{{review.author}}</h5>

</div>
       {%endfor%}
       <style>
                 .name {
                     text-align: center;
                     padding-top: 60px;
                     color: black;
                     background-size: ;
                     object-fit: cover;
                     background-repeat: no-repeat;
                     background-position: 50% 50%;

                 }




       </style>


{% endblock content %}
